* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    
}

h1 {
    background-color: lightblue;
    
    color: white;
    text-align: center;
}

.r-u-list {
    margin: 25px;
}

.ingre-container {
    display: inline-block;
    margin-left: 50px;
    padding: 25px;
    width: 400px;
}

.ingre-container.lemonade {
    position: absolute;
}


img {
    margin: 15px;
    width: 300px;
    height: auto;
    border-radius: 25%;
}

.steps-container {
    margin: 10px;
    text-align: justify;    
    width: 800px;
    height: auto;
    padding: 25px;
}

.img-container {
    display: inline-block;

}

.i-ulist {
    display: inline-block;
    
    
}

.lasagna-item {
    color: red;
}

.rice-item {
    color: lightgreen;
}

.lemonade-item {
    color: green;
}